body {
	font-family: sans-serif;
	margin: 2em;
}
table {
	border-collapse: collapse;
	width: 60%;
}
th,
td {
	border: 1px solid #ccc;
	padding: 0.5em;
	text-align: left;
}
th {
	background: #f0f0f0;
}
